html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.button,
.result-container {
  color: #e8e6e3;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: helvetica, "Roboto", sans-serif;
}

.interface-container {
  display: grid;
  grid-template-columns: repeat(4, 2em);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1em;
  text-align: center;
  background-color: #352f44;
  padding: 0.75em;
  border-radius: 0 0 20px 20px;
  justify-content: center;
}

#equal {
  grid-column: 3/5; /* Stretch equal sign to fill up the empty spot */
}

.button {
  font-size: 1em;
  background-color: #352f44;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.operator {
  color: rgb(185, 78, 78);
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #352f44;
  border-radius: 20px 20px 0 0;
  padding: 1em 0.5em 0 0.5em;
}

.current-result,
.prev-result {
  width: 236.5px;
  height: 46px;
  overflow-x: auto; /* when user inputs more than 11 numbers */
}

.current-result {
  text-align: right;
  font-size: 1.75em;
  margin: 0.25em 0;
}

.prev-result {
  font-size: 0.75em;
  padding: 0.5em 0;
}
